cal-screen {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 0%);
    width: 100%;
    height: 5em;
}

cal-screen .top, cal-screen .bottom {
    height: 50%;
    padding: 0;
    margin: 0;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: digital;
    padding: 0 .2em;
}

cal-screen .top {
    color: hsl(45, 100%, 50%);
    font-size: 1.5em;
}

cal-screen .bottom {
    color: white;
    font-size: 2.5em;
}