cal-button {
    background-color: hsl(0, 0%, 30%);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Share Tech Mono, monospace;
    font-size: 1em;
    font-weight: bold;
    color: white;
}

cal-button:hover {
    transform: scale(1.05);
    border: 1px solid hsl(0, 0%, 80%);
    color: black;
}